.todoListMain .header input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #FFF;
    width: 165px;
}
.todoListMain .header button {
    padding: 10px;
    font-size: 16px;
    margin: 10px 0 10px 10px;
    background-color: #0066FF;
    color: #FFF;
    border: 2px solid #0066FF;
}
.todoListMain .header button:hover {
    background-color: #003399;
    border: 2px solid #003399;
    cursor: pointer;
}
.todoListMain .theList {
    list-style: none;
    padding-left: 0;
    width: 250px;
}
.todoListMain .theList li {
    color: #333;
    /*no default background color for each task*/
    padding: 13px;
    margin-bottom: 15px;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: background-color .2s ease-out;
}
ul.theList {
    padding: 0;
}

.button-style {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: #0066FF;
    color: #FFF;
    border: 2px solid #0066FF;
}

button:hover{
    background-color: #003399;
    border: 2px solid #003399;
    cursor: pointer;
}

.li-synced {
    background-color: #1fff33;
}

.li-unsynced {
    background-color: #ff2c50;
}